:root {
  --clr-primary-400: hsl(4, 100%, 67%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(231, 7%, 60%);
  --clr-neutral-400: hsl(235, 18%, 26%);
  --clr-neutral-800: hsl(234, 29%, 20%);

  --ff-400: "Roboto", sans-serif;

  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-600: 2.5rem;
  --fs-900: 3.5rem;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* josh comeau reset */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
html,
body {
  height: 100%;
}

/* general style */

body {
  font-family: var(--ff-400);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-800);
}
.button {
  margin-top: 1.5rem;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  background-color: var(--clr-neutral-800);
  border: 0;
  border-radius: 0.5rem;
  width: 100%;
  height: 3.5rem;
  cursor: pointer;
}
.button:where(:hover, :focus) {
  background: linear-gradient(204.47deg, #FF6A3A 0%, #FF527B 100%);
  box-shadow: 0px 16px 32px rgba(255, 97, 85, 0.5);
}
@media (min-width: 58em) {
  body {
    background-color: var(--clr-neutral-400);
  }
}
/* subscription style */

@media (max-width: 57.95em) {
  .subscription img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: left bottom;
  }
}
.subscription__content {
  margin: 2.5rem 1.5rem;
}
.subscription h1 {
  font-size: var(--fs-600);
}
.subscription ul {
  padding: unset;
}
.subscription li {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}
.subscription li::before {
  content:url(./assets/images/icon-list.svg);
  display: inline-block;
}
.subscription form {
  margin-top: 2.5rem;
}
.subscription .form-wrapper {
  display: flex;
  justify-content: space-between;
}
.subscription .error-msg {
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-400);
}
.subscription label {
  display: block;
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
}
.subscription input {
  margin-top: 0.5rem;
  border: 1px solid rgba(25, 24, 43, 0.25);
  border-radius: 0.5rem;
  height: 3.5rem;
  width: 100%;
  padding-left: 1.5rem;
  cursor: pointer;
}
.subscription .error {
  background: rgba(255, 97, 85, 0.15);
  border: 1px solid #FF6155;
  color: #FF6155;
}

@media (min-width: 58em) {
  main {
    height: 100%;
    align-content: center;
  }
  .subscription {
    margin: 0 auto;
    width: 58rem;
    height: 40rem;
    background-color: var(--clr-neutral-100);
    display: flex;
    gap: 4rem;
    flex-direction: row-reverse;
    padding: 1.5rem;
    border-radius: 2.25rem;
    box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.25);
  }
  .subscription__content {
    margin: 4.5rem 0 0 2.5rem;
    width: 376px;
  }
  .subscription__content h1 {
    font-size: var(--fs-900);
  }
}

/* confirmation style */

.confirmation {
  padding: 0 1.5rem;
}
.confirmation .wrapper {
  margin-top: 9.3125rem;
}
.confirmation h2 {
  margin-top: 2.5rem;
  font-size: var(--fs-600);
  line-height: 1;
}
.confirmation p {
  margin-top: 1.5rem;
}
.confirmation .button {
  margin-top: 16.4375rem;
}
.confirmation #email-field {
  font-weight: var(--fw-bold);
}
@media (min-width: 58em) {
  .confirmation {
    margin: 0 auto;
    padding: 3rem 4rem 4rem 4rem;
    background-color: var(--clr-neutral-100);
    max-width: 31.5rem;
    box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
  }
  .confirmation .wrapper {
    margin: unset;
  }
  .confirmation .button {
    margin-top: 2.5rem;
  }
  .confirmation h2 {
    font-size: var(--fs-900);
  }
}

/* utilities */
.hidden {
  display: none !important;
}
.flow > * + * {
  margin-top: 1.5rem;
}
.flow-small > * + * {
  margin-top: 0.625rem;
}